body {
    background-color: rgb(36, 46, 44);
    width: 100%;
    height: 100vh;
    font-family: "Raleway", sans-serif;
}

.blur {
    filter: blur(20px);
}

.players-form-popup {
    display: none;
}

.popup-active {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px;
    width: 400px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.25);
    text-align: center;
    padding: 0px 30px 30px;
    color: black;
    transition: top 0ms ease-in-out 200ms,
        opacity 0ms ease-in-out 200ms,
        transform 0ms ease-in-out 200ms
}

.players-form-popup .players-form-container {
    margin: 15px 0px;
}

.players-form-popup .players-form-container h1 {
    text-align: center;
}

.players-form-popup .players-form-container input[type="text"] {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.players-form-popup .players-form-container input[type="password"] {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.players-form-container .submit {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: green;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.gameData {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.empty-div {
    flex: 1;
}

.players-information {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 40px;
    border: 2px solid white;
    margin: 20px;
    padding: 10px;
    color: bisque;
}

.players-information p {
    margin: 5px 0;
    /* Add margin between paragraphs */
    font-size: 25px;
    /* Set font size */
}

.remove {
    display: none;
}

.game-over {
    flex: 1;
    padding: 20px;
    width: 100%;
}

.game-over img {
    width: 90%;
}

.game-over-hide {
    display: none;
}

.game-over-form-container .submit {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: green;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.result {
    color: red;
    margin: 5px 0;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: table-row;
    display: block;
}

.gameData .connect4Board {
    display: grid;
    flex: 0.8;
    grid-template-columns: repeat(auto-fill, 1fr);
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: blue;
}

.disabled-div {
    pointer-events: none;
}

.row {
    display: flex;
    /* Ensure each row behaves as a flex container */
}

.col {
    position: relative;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    margin: 5px;
    background: black;
}

.player1-background-color {
    background: orange;
}

.player2-background-color {
    background: green;
}